.content_container{
    background: rgb(255, 255, 255,0.1);
    min-height: 30%;
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 60%;
    max-height: fit-content;
    border-radius: 10px;
    padding: 1rem ;
    border: 1px solid rgba(255, 255, 255, 0.281);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.349);
}