.task_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(255,255,255,0.301);
}
.task{
    display: flex;
    align-items: center;
    width: 80%;
    overflow: auto;
}
.main_task{
    font-weight: 500;
    margin-left: 1rem;
}
.task_actions{
    width: 20%;
    text-align: center;
}
.edit{
    color: rgb(19, 76, 182);
    cursor: pointer;
}
.delete{
    color: #c30303;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 5px;
}
.delete:hover{
    background: rgba(255, 255, 255, 0.664);
}
.completed{
    color: #140970;
    margin-left: 10px;
    cursor: pointer;
}